.row{
	margin: 5px;
}

ul{
	display: inline-block;
	padding: 10px 0;
}

ul li {
	display: inline-block;
}

.tabs{
	margin-left: 40px;
	font-size: 1.1em;
}

a{
	text-decoration:none;
}

a:hover{
	color: black;
}

.firsttab{
	margin-left: 10px;
}

.lasttab{
	margin: 0 auto;
	float: right;
	margin-right: 10px;
}
