ul{
	border-radius: 5px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#8B0000;
}

li{
	list-style:none;
	padding: 5px;
	margin: 2px;
}

a{
	text-decoration: none;
	font-style:italic;
	color: white;
}

a:hover{
	color:black;
}

a:visited{
	color:black;
}

.search{
	margin-top: 0;
	margin-left: 10px;
}

.search > input {
	width: 30%;
	border-radius: 10px;
	display: block;
}

.results{
	width: 20%;
	margin-top: -10px;
}
.results li a {
	font-size: 0.9em;
}
/*.red{
	background-color: #8B0000;
	color: white;
}*/
