#header, #results {
	display: inline-block;
	border-radius: 5px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#8B0000;
}

#header li, #results li {
	font-size: 0.9em;
	list-style:none;
	padding: 5px;
	margin: 2px;
	display: inline-block;
}

#header li a, #results li a {
	text-decoration: none;
	font-style:italic;
	color: white;
}

#header li a:hover, #results li a:hover {
	color:black;
}

.width-20 {
	width: 20%;
}

.tabs{
	margin-left: 40px;
	font-size: 1.1em;
}

.firsttab{
	margin-left: 10px;
}

.lasttab{
	margin: 0 auto;
	float: right;
	margin-right: 10px;
}

.search{
	margin-top: 0;
	margin-left: 10px;
}

.search > input {
	width: 30%;
	border-radius: 10px;
	display: block;
}

